
@{
    ViewData["Title"] = "Lab3 Home Page";
}
<h2>Mockups</h2>
<br />
<ul>
    <li>
        <h4>
            <a href="/Quiz/Quiz">Quiz</a>
        </h4>
    </li>
    <li>
        <h4>
            <a href="/Quiz/QuizResult">QuizResult</a>
        </h4>
    </li>
</ul>

